/* You can add global styles to this file, and also import other style files */
body, * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.error-message.ui.message {
	position: absolute;
	bottom: 2.5vmax;
	left: 2.5vmax;
}
