/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body, * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
// .but {
// 	@apply bg-red-500;
// }

.loader {
	@apply w-8 h-8 mr-2 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600;
}
.alert {
	position: absolute;
	bottom: 20px;
	left: 20px;
	.alert-title {
		@apply bg-red-500 text-white font-bold rounded-t px-4 py-2
	}
	.alert-subtitle {
		@apply border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700
	}
}
.button-default {
	@apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded
}
.input-label {
	@apply block mb-2 text-sm font-medium text-gray-900 dark:text-white
}
.input-field {
	@apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:border-gray-600 dark:focus:ring-blue-500 dark:focus:border-blue-500
}

.layout-wrapper {
	z-index: 1;
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.layout-backdrop {
	background: rgba(128, 128, 128, 0.781);
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
}
.login-page {
	width: 100vw;
	height: 100vh;
	max-width: 100vw;
	max-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
	.login-page-title {
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 700;
		font-size: 56px;
		line-height: 66px;
		text-align: center;
		color: #222831;
	}
	.login-page-subtitle {
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: 16px;
		letter-spacing: 0.1px;
		color: #C5C7CD;
		text-align: center;
	}
	.login-page-button-wrapper {
		display: flex;
		justify-content: center;
		gap: 10px;
	}
	.login-form_field {
		width: 100%;
		max-width: 380px;
		.login-form_error {
			color: red
		}
	}

}
.layout-open-sidebar {
	position: absolute;
	top: 20px;
	left: 20px;
}
.private-layout {
	box-shadow: 0px 4px 34px rgba(96, 94, 94, 0.09);
	position: absolute;
	height: 100vh;
	left: 0;
	display: flex;
	flex-direction: column;
	padding: 8vw 5vh 10vw;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 4vh;
	.private-layout_avatar-wrapper {
		img {
			border-radius: 50%;
		}
		h3 {
			font-family: 'Open Sans';
			font-style: normal;
			font-weight: 600;
			font-size: 22px;
			line-height: 26px;
			color: #474747;
		}
		p {
			font-family: 'Open Sans';
			font-style: normal;
			font-weight: 300;
			font-size: 16px;
			line-height: 22px;
			color: #808080;
		}
	}
	.private-layout_links-wrapper {
		ul {
			display: flex;
			flex-direction: column;
			gap: 2vh;
			li {
				display: flex;
				gap: .2vw;
				font-family: 'Open Sans';
				font-style: normal;
				font-weight: 400;
				font-size: 20px;
				line-height: 26px;
				color: #505050;
			}
		}
	}
	button {
		display: flex;
		gap: .5vw;
	}
}
